@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700;800;900&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.6rem;
}