@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700;800;900&display=swap');

:root {
    --green-1: #CCD5AE;
    --green-2: #E9EDC9;
    --yellow-1: #FAEDCD;
    --yellow-2: #FEFAE0;
    --white-1: #F7F1E5;
    --white-2: #FFFFFF;
    --purple-1: #66347F;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
}

.rounded {
    background-color: var(--green-2);
    padding: 5px;
    border: 1px solid var(--white-1);
    border-radius: 10px;
    box-shadow: 0 0 0 1px var(--white-1);
}