@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');

:root {
    --green-1: #ccd5ae;
    --green-2: #e9edc9;
    --green-3: #bbd6b8;
    --green-4: #698269;
    --yellow-1: #faedcd;
    --yellow-2: #fefae0;
    --white-1: #f7f1e5;
    --white-2: #ffffff;
    --white-3: #fffbf5;
    --white-2-opacity-1: #ffffff88;
    --white-2-opacity-2: #ffffffcc;
    --white-3: #fefbe9;
    --purple-1: #66347f;
    --purple-1-opacity-1: #66347fdd;
    --purple-2: #c3acd0;
    --red-1: #ea5455;
    --black-1: #000000;
    --black-1-opacity-1: #000000aa;
    --black-1-opacity-2: #00000044;
    --gray-1: #888888;

    --g-1: #aac8a7;
    --g-2: #c9dbb2;
    --g-3: #e3f2c1;
    --g-4: #f6ffde;
    --g2-1: #7c9070;
    --g2-1-o-1: #7c9070aa;
    --g2-2: #9ca777;
    --p-1: #66347f;
    --p-1-o-1: #66347fdd;
    --p-2: #917fb3;
    --p-3: #e5beec;
    --p-4: #fde2f3;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
}

button,
input {
    font-family: 'Nunito', sans-serif;
}

select {
    border: solid 1px var(--black-1-opacity-2);
    border-radius: 2px;
}

input[type='checkbox'] {
    accent-color: var(--p-1-o-1);
    width: 16px;

    &:hover {
        accent-color: var(--p-1);
    }
}

.rounded {
    background-color: var(--g-2);
    padding: 5px;
    border-radius: 10px;
    border: 1px solid var(--white-1);
    box-shadow: 0 0 0 1px var(--white-2-opacity-2);

    + .rounded {
        margin-top: 10px;
    }

    &:hover {
        border-color: var(--white-2);
        box-shadow: 0 0 0 2px var(--white-2);
    }
}

.container-layout {
    background-color: var(--g-4);
    min-height: 100vh;
    padding: 5px 15px;
    display: flex;
}

.container-content {
    border-radius: 4px;
    border: 1px solid var(--white-1);
    box-shadow: 0 0 5px 1px var(--g2-1-o-1);
    background-color: var(--g-1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;

    .input-field {
        + .input-field {
            margin-top: 10px;
        }

        label {
            font-size: 1.6rem;
        }

        input {
            font-size: 1.6rem;
            font-weight: 500;
            min-width: 100px;
            width: 100%;
            padding: 6px 7px 6px 5px;
            border-radius: 5px;
            background-color: var(--white-2-opacity-2);
            transition: background-color 0.5s ease-out;

            &:valid {
                background-color: var(--white-2-opacity-2);
            }

            &:focus {
                background-color: var(--white-2);
            }
        }
    }

    .submit {
        width: 100px;
        font-size: 1.8rem;
        margin-top: 20px;
    }
}

.btn-icon {
    background-color: var(--p-1-o-1);
    color: var(--g-4);
    transition: background-color 0.2s ease-out;

    &:hover {
        background-color: var(--p-1);
    }
}
