.container {
    --transition-time: 0.5s;

    display: flex;
    width: 100%;

    * {
        color: var(--p-1);
        font-size: 1.8rem;
        font-weight: 700;
    }

    h2 {
        font-size: 3.4rem;
        font-weight: 900;
    }

    .button-span {
        aspect-ratio: 1/1;
        width: 50px;
        position: absolute;
        border-radius: 50%;
        z-index: 1;
        visibility: visible;
        transition: visibility 0.01s;
        transition-delay: var(--transition-time);
    }

    .icon {
        font-size: 3.4rem;
    }

    .error {
        padding: 3px 5px;
        margin-top: 10px;
        color: var(--red-1);
        font-weight: 500;
        font-size: 1.6rem;
    }

    .section {
        display: flex;
        justify-content: center;
        position: relative;
        transition: width var(--transition-time) ease-out;
        transition-delay: 0;

        + .section {
            border-left: 2px solid var(--white-2);
        }

        .content {
            width: 300px;
            overflow: hidden;
            margin: 30px 10px;
            padding: 10px 20px;
            background-color: var(--white-2-opacity-1);
            box-shadow: 0 0 3px 1px var(--g-2);
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: width var(--transition-time) ease-out,
                box-shadow var(--transition-time) ease-out;
            transition-delay: width var(--transition-time), box-shadow 0;

            .title {
                margin-bottom: 20px;

                h2 {
                    text-shadow: none;
                    transition: text-shadow var(--transition-time) ease-out;
                    transition-delay: 0;
                }
            }

            .action {
                display: flex;

                .expand {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 0;
                    overflow: hidden;
                    white-space: nowrap;
                    transition: width var(--transition-time) ease-out;
                    transition-delay: 0;

                    h2 {
                        font-size: 2.4rem;
                        font-weight: 500;
                        text-align: center;
                    }

                    li {
                        display: flex;
                        align-items: center;
                        margin: 10px 20px 10px 60px;
                    }
                }
            }
        }
    }

    //Section

    .section-login {
        .button-span {
            right: -25px;
            top: 50%;
        }
    }

    .section-introduction {
        overflow: hidden;
        white-space: nowrap;
    }

    .section-register {
        .button-span {
            left: -25px;
            top: 50%;
        }
    }

    //Mode

    &.default {
        .section-login,
        .section-introduction {
            width: 33.3%;
        }

        .section-register {
            width: calc(100vw - 66.6%);
        }

        .section {
            transition-delay: var(--transition-time);
        }
    }

    &.login {
        .section-login {
            width: 66.6%;

            .content {
                width: 600px;
                box-shadow: 0 0 5px 3px var(--g-2);
                transition-delay: var(--transition-time);

                .title {
                    h2 {
                        text-shadow: 1px 0 3px var(--white-2),
                            0 1px 3px var(--white-2), -1px 0 3px var(--white-2),
                            0 -1px 3px var(--white-2);
                        transition-delay: var(--transition-time);
                    }
                }

                .expand {
                    width: 250px;
                    transition-delay: var(--transition-time);
                }
            }
        }

        .section-register {
            width: calc(100vw - 66.6%);

            .button-span {
                visibility: hidden;
            }
        }

        .section-introduction {
            width: 0;
        }
    }

    &.register {
        .section-login {
            width: 33.3%;

            .button-span {
                visibility: hidden;
            }
        }

        .section-register {
            width: calc(100vw - 33.3%);

            .content {
                width: 600px;
                box-shadow: 0 0 5px 3px var(--g-2);
                transition-delay: var(--transition-time);

                .title {
                    h2 {
                        text-shadow: 1px 0 3px var(--white-2),
                            0 1px 3px var(--white-2), -1px 0 3px var(--white-2),
                            0 -1px 3px var(--white-2);
                        transition-delay: var(--transition-time);
                    }
                }

                .expand {
                    width: 250px;
                    transition-delay: var(--transition-time);
                }
            }
        }

        .section-introduction {
            width: 0;
        }
    }
}
