.container {
    height: 100vh;
    background-color: var(--green-3);
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 8rem;
        font-weight: 900;

        .text-404 {
            color: var(--red-1);
        }

        .text-notfound {
            color: var(--white-3);
        }

        .text-symbol {
            color: var(--yellow-1);
        }

        .text-sir {
            color: var(--purple-1);
        }

        span {
            text-shadow: 1px 0 3px var(--purple-2), 0 1px 3px var(--purple-2),
                -1px 0 3px var(--purple-2), 0 -1px 3px var(--purple-2),
                2px 0 5px var(--purple-2), 0 2px 5px var(--purple-2),
                -2px 0 5px var(--purple-2), 0 -2px 5px var(--purple-2);
        }
    }
}
