.container {
    min-height: 100%;
    width: 50px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width ease-out 0.5s;
    background-color: var(--g-1) !important;

    * {
        color: var(--purple-1);
        font-size: 1.8rem;
        font-weight: 700;
    }

    &.active {
        width: 200px;
    }

    span {
        overflow: hidden;
        white-space: nowrap;
        line-height: 1.6;
        text-align: center;
    }

    .btn-switch {
        padding: 0;
        border-radius: 10px;
        line-height: 0;
        margin-bottom: 5px;

        .switch {
            font-size: 3rem;
            margin: 0;
            width: 24px;
            height: 24px;

            * {
                color: var(--g-4);
            }
        }
    }

    .user-detail {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;

        .user-avatar {
            width: 40px;
            padding: 0;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 50%;
            transition: width ease-out 0.5s;

            &.active {
                width: 100px;
            }
        }

        .user-name {
            font-size: 2.2rem;
            font-weight: 900;
            height: 0;
            transition: height ease-out 0.5s;

            &.active {
                height: 30px;
                text-shadow: 1px 1px 1px var(--white-2),
                    -1px -1px 1px var(--white-2), 1px 1px 2px var(--purple-1);
            }

            &:hover {
                text-shadow: 1px 1px 1px var(--white-2),
                    -1px -1px 1px var(--white-2);
            }
        }
    }

    .icon {
        margin: 0 5px;
        min-width: 18px;
        width: 18px;
    }

    .link {
        width: 100%;
        padding: 5px;
        background-color: var(--g-4);

        + .link {
            margin-top: 10px;
        }

        .link-item {
            display: flex;
            align-items: center;
            width: 100%;
            height: 25px;

            &:visited {
                color: var(--purple-1);
            }
        }
    }

    .section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            align-self: flex-start;
            background-color: var(--yellow-2);
        }

        ul {
            width: 100%;
        }

        + .section {
            margin-top: 10px;
        }

        &.bottom {
            margin-top: 100px;
        }
    }
}
