.container {
    min-height: 100%;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width ease-out 0.5s;

    * {
        color: var(--purple-1);
        font-size: 1.8rem;
        font-weight: 700;
    }

    &.active {
        width: 200px;
    }

    span {
        overflow: hidden;
        white-space: nowrap;
        line-height: 1.6;
    }

    .switch {
        margin-bottom: 5px;
    }

    .avatar {
        width: 40px;
        padding: 0;
        aspect-ratio: 1/1;
        border-radius: 50%;
        transition: width ease-out 0.5s;

        &.active {
            width: 100px;
        }
    }

    .icon {
        margin: 0 5px;
        min-width: 18px;
        width: 18px;
    }

    .link {
        width: 100%;
        padding: 5px;
        background-color: var(--yellow-2);

        + .link {
            margin-top: 10px;
        }

        .link-item {
            display: flex;
            align-items: center;
            width: 100%;
            height: 25px;

            &:visited {
                color: var(--purple-1);
            }
        }
    }

    .section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            align-self: flex-start;
            background-color: var(--yellow-2);
        }

        ul {
            width: 100%;
        }

        + .section {
            margin-top: 10px;
        }

        &.bottom {
            margin-top: 100px;
        }
    }
}
